---
layout: default
---
<article class="post-container post-container--single">
  <header class="post-header">
    <div class="post-meta">
      <time datetime="{{ page.date | date: "%-d %b %Y" }}" class="post-meta__date date">{{ page.date | date: "%-d %b %Y" }}</time> &#8226; <span class="post-meta__tags">em {% for tag in page.tags %}<a href="{{ site.baseurl }}tags/#{{ tag }}">{{ tag }}</a> {% endfor %}</span>
    </div>
    <h1 class="post-title">{{ page.title }}</h1>
  </header>
  <section class="quote">
    <div class="quote-body">{{page.quote_text}}</div>
    <div class="quote-author">{{page.quote_author}}</div>
  </section>
  <section class="post">
    {{ content }}
  </section>
  <footer class="post-footer">
    <section class="post-footer__share">
      <span class="post-footer__share-text">Compartilhe:</span>
      <a href="https://twitter.com/intent/tweet" target="_blank">
        <i class="icon icon-social-twitter"></i>
      </a>
    </section>
  </footer>
</article>